#team, #blog {
	background-color: #a3a3a3;
}
#about {
	background-image: url("../../images/imperial-white/who-bg2.png");
}

#network {
	background-image: url("../../images/imperial-white/join-bg.png");
}

#navigation{
	position: fixed;
	height: 64px;
	width: 100%;
	background-color: #171717 !important;
	box-shadow: 0px 0px 4px #212121;
	z-index: 100;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

#accordion{
	background-color: #A3A3A3;
}

#guides {
	background-color: #A3A3A3;
}